# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "5f284173d68eb2e02820df78902402a0"
name = "Duxly Connection"
application_url = "https://d3hd7mj8z35qoh.cloudfront.net"
embedded = true

[webhooks]
api_version = "2026-01"

# GDPR compliance webhooks - configured in Shopify Partner Dashboard
# customers_data_request_url = "https://xehi9a6w6e.execute-api.eu-central-1.amazonaws.com/prod/webhooks/gdpr/customers_data_request"
# customers_redact_url = "https://xehi9a6w6e.execute-api.eu-central-1.amazonaws.com/prod/webhooks/gdpr/customers_redact"
# shop_redact_url = "https://xehi9a6w6e.execute-api.eu-central-1.amazonaws.com/prod/webhooks/gdpr/shop_redact"

[access_scopes]
scopes = "read_products,write_products,read_orders"
optional_scopes = []
use_legacy_install_flow = false

[auth]
redirect_urls = ["https://xehi9a6w6e.execute-api.eu-central-1.amazonaws.com/prod/callback"]

[pos]
embedded = false
